name: Day1 CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Show repo files
        run: ls -la

      - name: Run hello script
        run: |
          echo "Running Day1 CI"
          bash ./hello.sh
